.main_page_container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_page_items {
    display: block;
    text-align: center;
}

.radio_container {
    padding: 20px;
    display: flex;
    align-items: center;
}

.select_box_container {
    padding: 20px;
    display: flex;
    align-items: center;
}

.selection_name {
    font-size: 1.5em;
    padding-right: 20px;
}

#url_input {
    padding: 10px;
    width: 300px;
    font-size: 1.2em;
}