.input_submit {
    background:#393e46;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.5em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 200px;
}

.input_submit:hover {
    background:#fff;
    color:#393e46;
}