.input_submit {
    font-family: Impact, Charcoal, sans-serif;
    background:#1c3c3d;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.5em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 200px;
    /* margin: 0px 50px 0px 50px; */
}

.input_submit:hover {
    background:#fff;
    color:#1c3c3d;
}