.test_button {
    width: 200px;
    height:40px;
    background-color:#393e46;
    color:#fff;
    text-decoration: none;
    font-size:1.5em;

    border:none;
    position:relative;
    padding:0 2em;
    cursor:pointer;
    transition:500ms ease all;
    outline:none;
    border-radius: 5px;
}

.test_button:hover {
    background:#fff;
    color:#393e46;
}